PORT=3000
NODE_ENV=development
APP_NAME=Soplantila API
APP_URL=http://localhost:3000
CLIENT_APP_URL=http://localhost:3000
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/soplantila?schema=public"

JWT_ACCESS_SECRET=replace-with-a-long-random-secret
JWT_ACCESS_EXPIRES_IN=15m
AUTH_EXPOSE_OTP_IN_RESPONSE=false

OTP_HASH_SECRET=replace-with-a-different-long-random-secret
OTP_EXPIRES_MINUTES=10
OTP_LENGTH=6
OTP_MAX_VERIFY_ATTEMPTS=5
OTP_RESEND_COOLDOWN_SECONDS=60
OTP_MAX_RESENDS=5
PASSWORD_SALT_ROUNDS=12

RESEND_API_KEY=re_xxxxxxxxx
MAIL_FROM="Soplantila <no-reply@example.com>"

UPLOAD_DRIVER=do-spaces
UPLOAD_MAX_FILE_SIZE=2097152
UPLOAD_LOCAL_DIR=uploads/profile-images
UPLOAD_PUBLIC_BASE_URL=https://soplantila.sfo3.cdn.digitaloceanspaces.com

DO_SPACES_REGION=sfo3
DO_SPACES_BUCKET=soplantila
DO_SPACES_ENDPOINT=https://sfo3.digitaloceanspaces.com
DO_SPACES_BUCKET_ENDPOINT=https://soplantila.sfo3.digitaloceanspaces.com
DO_SPACES_CDN_URL=https://soplantila.sfo3.cdn.digitaloceanspaces.com
DO_SPACES_KEY=replace-with-spaces-access-key
DO_SPACES_SECRET=replace-with-spaces-secret-key
DO_SPACES_PROFILE_IMAGE_PREFIX=profile-images
DO_SPACES_ACL=public-read
